<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735235597842-u860sdvla36kfd5votn44ktj48pe0vbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735235597842-u860sdvla36kfd5votn44ktj48pe0vbl</string>
	<key>API_KEY</key>
	<string>AIzaSyDAsZD7IAmdm74P7xyKMof08NgYJOldIbE</string>
	<key>GCM_SENDER_ID</key>
	<string>735235597842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mdtanous.JotdownApp</string>
	<key>PROJECT_ID</key>
	<string>jotdownapp</string>
	<key>STORAGE_BUCKET</key>
	<string>jotdownapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735235597842:ios:39e36342996b1774855acb</string>
	<key>DATABASE_URL</key>
	<string>https://jotdownapp.firebaseio.com</string>
</dict>
</plist>